<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="robusthavenEntity" connectionString="metadata=res://*/Repositories.ChatModel.csdl|res://*/Repositories.ChatModel.ssdl|res://*/Repositories.ChatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sgh-pc\sqlexpress;initial catalog=robusthaven;user id=sa;password=root;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OSM_DBEntities" connectionString="metadata=res://*/Repositories.Model1.csdl|res://*/Repositories.Model1.ssdl|res://*/Repositories.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SCOTT-PC;initial catalog=OSM_DB;user id=sa;password=root;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Repositories.Model1.csdl|res://*/Repositories.Model1.ssdl|res://*/Repositories.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SCOTT-PC;initial catalog=OSM_DB;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>