<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.4.4" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="jQuery.Validation" version="1.6" />
  <package id="jQuery.DataLink" version="0.1" />
  <package id="RIAServices.Endpoints" version="4.1.60413.0" />
  <package id="RIAServices.jQuery" version="4.1.60413.0" />
</packages>