<?xml version="1.0" encoding="utf-8" ?>
<flexibleconfig path="$(MSBuildStartupDirectory)\useroptions.include" />
<?flexibleconfig
	string server = @"";
	switch(DevId)
	{
		case "LEBLANC":
			server = @".";
			break;
		case "GAGAN":
			server = @"GAGAN\SQLEXPRESS";
			break;
		case "SIARHEI":
			server = @"SIARHEI-PC\SQLEXPRESS";
			break;
		case "JNAWAZ":
			server = @"MJN1";
			break;
	}
?>
<configuration>
	<connectionStrings>
		<add name="dbhReader" connectionString="Persist Security Info=False;Integrated Security=true;server=<?=server ?>;pooling=false" />
	</connectionStrings>
</configuration>